@import "@acab/reset.css";

:root {
  --header-height: 3rem;

  --accent: hsl(165, 82%, 35%);
  --accent-dim: hsl(165, 82%, 25%);

  --content-backdrop: hsla(0, 0%, 100%, 0.05);

  --text-on-accent: hsl(0, 0%, 98%);
  --text-on-backdrop: hsl(0, 0%, 98%);
}

@media (prefers-color-scheme: light) {
  :root {
    --content-backdrop: hsla(0, 0%, 0%, 0.05);
    --text-on-backdrop: hsl(0, 0%, 2%);
  }
}

body {
  height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;

  font-weight: normal;
}
